extends layout
block content
  #muudatekst.modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") x
            span.sr-only Close
          h4 Täienda kommentaari
        .modal-body
          form(method='POST' action='')
            div.form-group
              label(for='KOMMENTAAR') Kommentaar:
              input#KOMMENTAAR.form-control(type='text', placeholder='Lisa kommentaar' name='KOMMENTAAR' )
              input#CREATEDBY(type='hidden', name='CREATEDBY' )
              button.btn.btn-primary(type='submit') Muuda
  #ajalugu.modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") x
            span.sr-only Close
          h4 Kommentaaride ajalugu
        .modal-body
          table.table.table-bordered#kommTabel
            thead
              tr
                th Kommentaar
                th Kuupäev
                th Lisaja
            tbody
              tr
        .modal-footer
          button.btn.btn-default.close(data-dismiss='modal') Sule
  #arved.modal.printable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") x
            span.sr-only Close
          button.btn.btn-default.float-right#btnPrint(type='button') Trüki
          div.printMe#printThis
            h4
              span#kliendinimi tasumata arved
            .modal-body
              table.table.table-bordered#arveTabel
                thead
                  tr
                    th Number
                    th Kuupäev
                    th Tasum.kpv
                    th Summa
                    th Tasutud
                    th Tasumata
                    th Filiaal
                tbody
                tfoot
        .modal-footer
          button.btn.btn-default.close(data-dismiss='modal') Sule
  div.container-fluid
    div.row
      div.col-sm-8.text-center
        h3 Feb AS kliendid
      div.col-sm-4.text-right
        span Sisse loginud kasutaja:&nbsp
        span.font-weigth-bold#sisseloginudkasutaja  Kasutaja
        //- a.font-weight-bold(href='/logout')  Logi välja
        table.table.table-sm(style="width:100%")
          tbody
            tr
              td.text-right.borderless Ainult limiidi ületanud:&nbsp
              td.text-left.borderless
                input(name="limiit", id="limiit", type="checkbox")
            tr
              td.text-right.borderless Ainult maksetähtaeg ületanud:&nbsp
              td.text-left.borderless
                input(name="tahtaeg", id="tahtaeg", type="checkbox")
  table.stripe.order-column#pickle
    thead
      tr
        th
        th Tarne<br>keeld
        th Kliendi nimi
        th Aegumata
        th 30P
        th 180P
        th Vanem
        th Kokku
        th Tarnitud
        th Limiiti alles
        th Arveid

  script.
    //table filter function
    $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex, rowData, counter ) {
        if($("#limiit").is(':checked') && ($("#tahtaeg").is(':checked')) && (rowData.YLE_LIMIIDI) && (rowData.YLE_MT) )
          return true;
        else if($("#limiit").is(':checked') && !($("#tahtaeg").is(':checked')) && (rowData.YLE_LIMIIDI) )
          return true;
        else if(!($("#limiit").is(':checked'))&&!($("#tahtaeg").is(':checked')))
          return true;
        else if(($("#tahtaeg").is(':checked'))&&!($("#limiit").is(':checked'))&&(rowData.YLE_MT))
          return true;
        else
          return false;
      }
    );
    $(document).ready(function() {
      var testdata = [
        {
          "kliendi_nimi":   "FEBKLIENT",
          "Maksetingimus":  "Neto"
        },
        {
          "kliendi_nimi":   "MUUKLIENT",
          "Maksetingimus":  "Bruto"
        },
        ];
      var tulemus = !{JSON.stringify(result)};
      var sisseloginud = '';
      //request for user information from Azure
      $.ajax({
        type : 'GET',
        dataType: "html",
        url: 'https://febascustomer.azurewebsites.net/.auth/me',
        xhrFields: {
          withCredentials: true
          },
        contentType:'application/json',
        crossDomain : true,
        cors: true,
        secure: true,
        headers: {
                  'Access-Control-Allow-Origin': '*',
                  'Upgrade-Insecure-Requests' : 1,
                  'Cookie': 'ARRAffinity=06002adda7a6036d27bbc5c8cba727f785428765b842d3275fde5cd467e3e7e5; AppServiceAuthSession=aVR9HcLU1ikGYTRvlEk+SrKHJECFH6giuhLWREuAKQ0gx+kxT2HEy8Brhm+XVYuzQ9Eu5aGvIv5Ju21MvlJwVQgzKr8TYLboBcuYZuIUm631e7AwRanUW9JXjYcsAZw2/PtMRbC+aocZ1WZXecGIScj4xwTEX+hHF1FjZF21IQu5bRsh20saI6IK1CfHhvTlQxiUhbscz8VvfZ4eHPmHtsJUcZOW24ynOTNAGngRTiAJ1jMVAXFqZguMVh7q6NGypWZM3s7GKOe8TRQxi9e6FO0e6uudoJYg8h0Myn1xhottBGaw0J4F2uj+qxzskx/O/19SpbmyvzqBmojNPe5Qib9/T77oG3cdrBb1GVfO49TGtyFeAE4eweyWFzSiiRYsFGGdBLytq4dIvLKNfoE6PxlmeXfJIO2DR8ouPY1GZZbNXMbCiL+172TOw8DuxRVeL82hFCUwHpi16bbfSySLGA1siU9xQvibNY9JLx8vX9HPsv7CRR0j0+Ztu0RgBqeSmVMlatwqzDdMEP5Tym8QrSrjCC1Tk5kRWCuugFHhg5pxtAkUqbppE9cw0c8UNsYP7gy3Sb3dgZ9yWrEQbwnH1fp35NHaqJD7xcuQnB1OtOefc+cYV0FbH8+yrwolykzrdxR9Rf/Ha3UQCPnx8zuecKGJajV+5V890jjwP1f8H7Q3pmhNU3VroAPo3Z6VaUDPM5wcXaAqPPMxIQGOumIl5YLxoV4Y3lzciLxZY1JJdnlq7mGrth/+vzGsBXDHd1Kdqmo3p9LWPzxhVb81Y0LhzDG7/LPr+dG/a8nPGTg8zkSRC05sPNKmXqK3DdVB0u/K5K+r8VDckQlJmvmmw+48kw=='
              },
        })
        .done(function(data) {
        //console.log('SUCCESS');
        var andmed = JSON.parse(data);
        sisseloginud = andmed[0].user_claims[9].val;
        $("#sisseloginudkasutaja").text(sisseloginud);
        })
        .fail(function( jqxhr, textStatus, error ) {
        var err = textStatus + ", " + error;
        sisseloginud = 'USER';
        $("#sisseloginudkasutaja").text(sisseloginud);
        console.log( "Request Failed: " + err );

      });

      var kypsis = document.cookie;
      //console.log(kypsis);

      console.log(tulemus.length);
      //table customer
      var table = $('#pickle').DataTable({
        dom: 'Blfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf',
          {
          extend: 'print',
          customize: function ( win ) {
          $(win.document.body).find( 'table' )
            .attr( 'id', 'printSection' );
          }
          }
        ],
        bDestroy: true,
        bProcessing: true,
        deferRender: true,
        data: tulemus,
        rowCallback: function(row, data, index) {
          if( data.YLE_MT == 1 || data.VABA_LIMIIT < 0 ) {
            $('td:eq(2)', row).addClass('bold-red');
          }
          if(data.ARVEID > 0) {
            $('td:eq(10)', row).attr({'data-toggle': 'modal', 'data-target': '#arved', 'role':'button', 'data-url': data.ID, 'data-nimi': data.Kliendi_nimi }).addClass('text-primary');
          }
          },
        headerCallback: function( thead, data, start, end, display ) {
          var api = this.api(), data;

          // Remove the formatting to get integer data for summation
          var intVal = function ( i ) {
            return typeof i === 'string' ?
                i.replace(/[\$,]/g, '')*1 :
                typeof i === 'number' ?
                    i : 0;
          };

          // Total over all pages

          total8 = api
            .column( 8, {'filter': 'applied'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );
          total7 = api
            .column( 7, {'filter': 'applied'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );
          total6 = api
            .column( 6, {'filter': 'applied'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );
          total5 = api
            .column( 5, {'filter': 'applied'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );
          total4 = api
            .column( 4, {'filter': 'applied'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );
          total3 = api
            .column( 3, {'filter': 'applied'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );

            total8 = Math.round(total8).toLocaleString('et-EE',{style: 'decimal' });
            total7 = Math.round(total7).toLocaleString('et-EE',{style: 'decimal' });
            total6 = Math.round(total6).toLocaleString('et-EE',{style: 'decimal' });
            total5 = Math.round(total5).toLocaleString('et-EE',{style: 'decimal' });
            total4 = Math.round(total4).toLocaleString('et-EE',{style: 'decimal' });
            total3 = Math.round(total3).toLocaleString('et-EE',{style: 'decimal' });

          $(thead).find('th').eq(8).html( 'Tarnitud<br>'+(total8) );
          $(thead).find('th').eq(7).html( 'Kokku<br>'+(total7) );
          $(thead).find('th').eq(6).html( 'Vanem<br>'+(total6) );
          $(thead).find('th').eq(5).html( '180P<br>'+(total5) );
          $(thead).find('th').eq(4).html( '30P<br>'+(total4) );
          $(thead).find('th').eq(3).html( 'Aegumata<br>'+(total3) );
          },
        columns: [
          {
          "className"      : 'details-control',
          "defaultContent" : '',
          "data"           : null,
          "orderable"      : false
          },
          {
          //"className"      : 'stop-dist',
          "defaultContent" : '',
          "data"           : "TARNEKEELD",
        //  "render"         : function (data, type, row, meta) {
        //    return  null;
        //    },
          "orderable"      : true
          },
         { "data"     : "Kliendi_nimi",
           "className": 'bold',
            },
         { "data"     : "AEGUMATA",
           "render"   : $.fn.dataTable.render.number( ' ', ',', 0 ) },
         { "data"     : "30P",
           "render"   : $.fn.dataTable.render.number( ' ', ',', 0 ) },
         { "data"     : "180P",
           "render"   : $.fn.dataTable.render.number( ' ', ',', 0 )
          // "render"   : function (data, type, row, meta) {
          //  var ylelimiidi = row.KRED_LIMIIT - row.Tasumata_SUM ;
          //   return (ylelimiidi < 0 ? '<span class="text-danger">'+ylelimiidi+'</span>' : '<span class="text-success">'+ylelimiidi+'</span>') ;
          //   },
           },
          { "data"     : "VANEM" ,
            "render"   : $.fn.dataTable.render.number( ' ', ',', 0 )},
          { "data"     : "KOKKU" ,
            "render"   : $.fn.dataTable.render.number( ' ', ',', 0 )},
          { "data"     :  "TARNITUD",
            "render"   : $.fn.dataTable.render.number( ' ', ',', 0 ) },
          { "data"     : "VABA_LIMIIT",
            "render"   : $.fn.dataTable.render.number( ' ', ',', 0 ) },
          { "data"     : "ARVEID" },
        ],
        "columnDefs": [
          { className: "dt-right", "targets": [3,4,5,6,7,8,9,10] },
          { className: "dt-nowrap", "targets": [2] }
          ],
        "order": [[2, 'asc']]
      });
      // Add event listener for opening and closing details
      $('#pickle tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        //console.log("EVENT WORKS");
        if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
          }
          else {
          // Open this row
          //alert("avan rea");
          row.child( formaat(row.data()) ).show();
          tr.addClass('shown');
          }
          } ); //listener for green button
      //listener for muuda tekst modal parameters
      $('#muudatekst').on('show.bs.modal', function (event) {
          //console.log('MODAL');
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('url') // Extract info from data-* attributes
          var createdby = button.data('user')
          var tekst = button.data('tekst');
          console.log(tekst);
          if (tekst != null && tekst.length > 999){
          alert('Kommentaari pikkus võib maksimaalselt olla 1000 märki. Tee kommentaar lühemaks ja salvesta uuesti');
          return;
          };
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this);
          modal.find('.modal-body input[name="KOMMENTAAR"]').val(tekst);
          modal.find('.modal-body form').attr('action', '/clients/customers/customers/'+recipient+'/update');
          modal.find('.modal-body input[name="CREATEDBY"]').val(createdby);
          })
        //listener for tekst arhiivi table creation
      $('#ajalugu').on('show.bs.modal', function (event) {
            //console.log('MODAL');
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('url') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            var url = "/clients/customers/customers/"+recipient+"/komm";
            $.getJSON(url, function( data) { //read customer comments history from url


                $(".kommentaar").remove();
                for (var i = 0; i < data.length; i++) {
                  var row = ("<tr class='kommentaar'><td>" +data[i].KOMMENTAAR+ "</td><td>" +data[i].CREATED+ "</td><td>"+data[i].CREATEDBY+"</td></tr>")
                  $("#kommTabel tbody").append(row);
                }

            })
          })
      //listener for arved modal
      $('#arved').on('show.bs.modal', function (event) {
            //console.log('MODAL');
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('url') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            var url = "/clients/customers/customers/"+recipient+"/arve";
            var kliendinimi = button.data('nimi');
            var aeg = new Date();
            var kuu = ((aeg.getMonth().length+1)===1)? (aeg.getMonth() + 1) : "0" + (aeg.getMonth() + 1);
            $("#kliendinimi").text(kliendinimi + " tasumata arved seisuga " +
            aeg.getDate()+"/"+ kuu +
            "/"+ aeg.getFullYear());
            $.getJSON(url, function( data) { //read customer invoices from url

              if (data.length > 0) {
                $(".arve").remove();
                var summa = 0;
                var tsumma = 0;
                var msumma=0;
                for (var i = 0; i < data.length; i++) {
                  summa += data[i].ARVE_SUMMA;
                  tsumma += data[i].TASUTUD;
                  msumma += data[i].TASUMATA;
                  var row = ("<tr class='arve'><td>" +data[i].ARVE_NUMBER
                  + "</td><td>"+data[i].ARVE_KUUPÄEV
                  + "</td><td>"+data[i].MAKSE_KUUPÄEV
                  + "</td><td>"+data[i].ARVE_SUMMA
                  + "</td><td>"+data[i].TASUTUD
                  + "</td><td>"+data[i].TASUMATA
                  + "</td><td>"+data[i].FILIAAL
                  +"</td></tr>")
                  $("#arveTabel tbody").append(row);
                }
                var row = ("<tr class='arve'><td>"
                + "</td><td>"
                + "</td><td> Kokku"
                + "</td><td>"+summa
                + "</td><td>"+tsumma
                + "</td><td>"+msumma
                + "</td><td>"
                +"</td></tr>")
                $("#arveTabel tfoot").append(row);
              }
            })
          })
      //delete modal contents
      $("body").on("click", ".close", function(){
        // delete arved content
          $(".arve").remove();
          $(".kommentaar").remove();
          });
        //add print id for printing area
      $(document).on('click', '#btnPrint', function(){
            $('.printMe').printElem();
          });
        //add events for table filters
      $("#limiit").on("click", function() {
          table.draw();
        });
      $("#tahtaeg").on("click", function() {
          table.draw();
        });
    }); //end document ready
    //printimine
    jQuery.fn.extend({
    	printElem: function() {
    		var cloned = this.clone();
        var printSection = $('#printSection');
        if (printSection.length == 0) {
        	printSection = $('<div id="printSection"></div>')
        	$('body').append(printSection);
        }
        printSection.append(cloned);
        var toggleBody = $('body *:visible');
        toggleBody.hide();
        $('#printSection, #printSection *').show();
        window.print();
        printSection.remove();
        toggleBody.show();
    	}
    });
    function formaat ( d ) {
      // `d` is the original data object for the row
      //console.log(d);
      var tarnekeeld = "Ei";
      if (!d.TARNEKEELD) { tarnekeeld = "Jah"};
      return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
          '<tr>'+
              '<td class="alamtabel">E-mail:</td>'+
              '<td>'+d.E_MAIL+'</td>'+
              '<td class="alamtabel">Telefon:</td>'+
              '<td>'+d.TELEFON+'</td>'+
              '<td class="alamtabel">KMregNR:</td>'+
              '<td>'+d.KMKN+'</td>'+
              '<td class="alamtabel">Märkus:</td>'+
              '<td>'+d.MÄRKUS_1+'</td>'+
          '</tr>'+
          '<tr>'+
              '<td class="alamtabel">Reg.number:</td>'+
              '<td>'+d.REG_NR+'</td>'+
              '<td class="alamtabel">Kred.limiit:</td>'+
              '<td>'+Number(d.KRED_LIMIIT).toFixed(2)+'</td>'+
              '<td class="alamtabel">Tarnekeeld:</td>'+
              '<td>'+tarnekeeld+'</td>'+
              '<td></td>'+
              '<td>'+d.MÄRKUS_2+'</td>'+

          '</tr>'+
          '<tr>'+
              '<td class="alamtabel">Maksmata arveid:</td>'+
              '<td>'+d.ARVEID+'</td>'+
          '</tr>'+
          '<tr>'+
              '<td class="alamtabel">Kommentaar:</td>'+
              '<td>'+d.KOMMENTAAR+'</td>'+
              '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#muudatekst" data-url="'+d.ID+
              '" data-user= "'+ $('#sisseloginudkasutaja').text() +'" data-tekst="'+d.KOMMENTAAR+'">'+
              'Muuda kommentaar</button></td>'+
              '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajalugu" data-url="'+d.ID+'"> '+
              'Ajalugu</button></td>'+
          '</tr>'+
      '</table>';
    }
