doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dataTables.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')



    script
      include ../public/javascripts/jquery-3.3.1.min.js
      include ../public/javascripts/dataTables.min.js
      include ../public/javascripts/dataTables.buttons.min.js
      include ../public/javascripts/buttons.flash.min.js
      include ../public/javascripts/jszip.min.js
      include ../public/javascripts/pdfmake.min.js
      include ../public/javascripts/vfs_fonts.js
      include ../public/javascripts/buttons.html5.min.js
      include ../public/javascripts/buttons.print.min.js
      include ../public/javascripts/moment.js
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')


    body
      div.container
      block content
