body {
  padding: 5px;
  padding-left: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  font-size: 24px;
}
h3.whitetext {
  color: white;
}
td.details-control {
  background: url('/images/details_open.png') no-repeat center center;
  cursor: pointer;
  }
tr.shown td.details-control {
  background: url('/images/details_close.png') no-repeat center center;
  }
.feb_logo {
  background: url('/images/feb_logo.png') no-repeat left top;
}

td.data {font-size:9px}

td.alamtabel {font-weight: bold}

td.stop-dist {
  background: url('/images/Sign-Stop-icon.png') no-repeat center center;
  cursor: pointer;
  }
/*@media screen {
       #printSection {
          display: none;
       }
  }
*/
td.deleterow {
  background: url('/images/delete-24.png') no-repeat center center;
  cursor: pointer;
  }

.bold {
  font-weight:bold;
}
.bold-red {
  font-weight:bold;
  color:red;
}
.fix-height {
  display: block;
  height: 180px;
  overflow-y: scroll;
}
@media print {
       body > *:not(#printSection) {
          display: none;
       }
       #printSection, #printSection * {
           visibility: visible;
       }
       #printSection {
/*           position:absolute;
           left:0;
           top:0;*/
       }
       .header-print {
         display: table-header-group;
         font-size: 24px;
       }
  }
.borderless {
      border: none !important;
      padding: 2px !important;
}
body.waiting * {
  cursor: progress;
}
